cachetools==6.1.0
chardet==5.2.0
colorama==0.4.6
dbf==0.99.11a1
distlib==0.3.9
filelock==3.18.0
iniconfig==2.1.0
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
pyenv-inspect==0.4.0
Pygments==2.19.2
pyproject-api==1.9.1
pytest==8.4.1
pytest-timeout==2.4.0
tox==4.27.0
virtualenv==20.21.1
virtualenv-pyenv==0.5.0
